.top-bar{
    background-color: rgb(245,245,245);
    border-top-color: rgb(9, 167, 179);
    border-top-style: solid;
    border-top-width: 2px;
}




.top-bar-left ul {
    list-style: none;
    margin-top: 5px;
}

.top-bar-left li {
    display: inline;
    margin-left: 10px;
    font-size: 12px;
}

.top-bar-left img {
    margin-right: 3px;
}


.top-bar-left a{
    text-decoration: none;
    color: rgb(133,133,133);
}

.top-bar-left a:hover {
    text-decoration: none;
    color: rgb(9, 167, 179)
}






.top-bar-right p{
    font-size: 12px;
    color: rgb(133,133,133);
    margin-top: 10px;
}

.top-bar-right a{
    text-decoration: none;
    color: rgb(9, 167, 179);
}

.top-bar-right a:hover {
    text-decoration: none;
    color: rgb(18, 220, 235);
}







.nav_upper {
    margin-top: 10px;
}


.nav_upper ul {
    list-style: none;
    display: inline;
    
}


.nav_upper li {
    margin-left: 10px;
    list-style: none;
    display: inline;
    float: left; 
    margin-top: 40px;
}

.nav_upper a {
    text-decoration: none;
    color: white;
    font-size: 12px;
    background-color: rgb(20, 192, 201);
    padding-top: 5px;
    padding-bottom: 12px;
    padding-right: 6px;
    padding-left: 4px;
}

.nav_upper a:hover {
    text-decoration: none;
    color: white;
    font-size: 12px;
    background-color: rgb(25, 203, 212);
    padding-top: 5px;
    padding-bottom: 12px;
    padding-right: 6px;
    padding-left: 4px;
}

.nav_upper select {
    -webkit-appearance: none;
    background-color: rgb(230,230,230);
    color: rgb(133,133,133);
    border-radius: 0px;
    border: none;
    padding: 7px;
    font-size: 12px;
    
}

.nav_upper select:hover {
    -webkit-appearance: none;
    background-color: rgb(240, 240, 240);
    color: rgb(133,133,133);
    border-radius: 0px;
    border: none;
    padding: 7px;
    font-size: 12px;
    display: inline;
    
}


.nav_lower {
    margin-bottom:10px;
}


.nav_lower ul {
    list-style: none;
    display: inline;
    margin-left: 100px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}


.nav_lower li {
    margin-right: 50px;
    list-style: none;
    display: inline;
}

.nav_lower a {
    margin-right: px;
    color: rgb(77,79,71);
}

.nav_lower a:hover {
    margin-right: px;
    color: rgb(20, 192, 201);
    text-decoration: none;
}

.nav_lower input[type=search]{
    border: solid;
    border-color: rgb(241, 241, 241);
    margin-top: 10px;
}

.nav_lower input[type=image]{
    margin-top: 0px;
    margin-bottom: -9px;
    margin-left:-7px;
    height: 28px;

}


.hero img{
    width: 100%;
}


.sales {
    margin-left: 200px;
}

.sales ul{
    list-style: none;
    display: inline;
}

.sales a{
    float: left; 
    margin: 0px 12px;
}

.sales img:hover {
    width: 300px;
    color: rgb(25, 203, 212);
}



/* Latest */
.latest {
}

.latest h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 35px;
    color: rgb(77,79,71);
}


.latest p {
    font-size: 12px;
    color: rgb(133,133,133);
}

.latest a {
    padding: 10px 18px;
    outline-width: thin;
    outline-style: solid;
    outline-color: rgb(133,133,133);
    background-color: rgb(230,230,230);
    text-decoration: none;
    font-weight: bold; 
    color: rgb(133,133,133);
}

.latest a:hover{
    padding: 10px 18px;
    outline-width: thin;
    outline-style: solid;
    outline-color: rgb(133,133,133);
    background-color: rgb(25, 203, 212);
    text-decoration: none;
    font-weight: bold; 
    color: white;
}   

.arrows {
    text-align: right;
    margin-top: 30px;
}

.spit {
    weight: 1px;
}


.latest_pics a{
    text-decoration: none;
    color: rgb(133,133,133);
}

.latest_pics a:hover{
    text-decoration: none;
    color: rgb(9, 167, 179)
}

.form{
    text-decoration: none;
    text-transform: capitalize;
    color: white;
    background-color: rgb(77,79,71);
    font-size: 14px;
    padding: 20px;
}

.latest_pics p{
    text-align: center;
}

.latest_pics img {
    margin-left: 40px;
}

.add_to_cart1 {
    margin-left: 38px;
    margin-right: 0px;
}

.add_to_cart2 {
    margin-left: -2px;
}

.add_to_cart3 {
    margin-left: 5px;
}

.add_to_cart4 {
   margin-right: -70px;
   align-content: right;
}




/* Welcome */

.welcome a{
    text-decoration: none;
    color: rgb(9, 167, 179);
}

.welcome a:hover{
    text-decoration: none;
    color: rgb(18, 220, 235);
}

.welcome h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 35px;
    color: rgb(77,79,71);
}


.welcome p {
    font-size: 12px;
    color: rgb(133,133,133);
}



/* Bestsellers */

.bestsellers a {
    padding: 10px 18px;
    outline-width: thin;
    outline-style: solid;
    outline-color: rgb(133,133,133);
    background-color: rgb(230,230,230);
    text-decoration: none;
    font-weight: bold; 
    color: rgb(133,133,133);
}

.bestsellers a:hover{
    padding: 10px 18px;
    outline-width: thin;
    outline-style: solid;
    outline-color: rgb(133,133,133);
    background-color: rgb(25, 203, 212);
    text-decoration: none;
    font-weight: bold; 
    color: white;
}   

.bestsellers_pics {
    margin-bottom: 40px;
}

.bestsellers_pics img {
    margin-left: 40px;
}

.bestsellers_pics a{
    text-decoration: none;
    color: rgb(133,133,133);
}

.bestsellers_pics a:hover{
    text-decoration: none;
    color: rgb(9, 167, 179)
}

.bestsellers_pics p{
    text-align: center;
}




/* Manufacturers */
.manufacturers {
    margin-bottom: 50px;
}

.manufacturers a {
    padding: 10px 18px;
    outline-width: thin;
    outline-style: solid;
    outline-color: rgb(133,133,133);
    background-color: rgb(230,230,230);
    text-decoration: none;
    font-weight: bold; 
    color: rgb(133,133,133);
}

.manufacturers a:hover{
    padding: 10px 18px;
    outline-width: thin;
    outline-style: solid;
    outline-color: rgb(133,133,133);
    background-color: rgb(25, 203, 212);
    text-decoration: none;
    font-weight: bold; 
    color: white;
}   



/* Sign_up */
.sign_up {
    background-color: rgb(212, 212, 212);
    padding: 10px 0px;

}

.sign_up h3{
    font-family: 'Asap Condensed', sans-serif;
    text-transform: uppercase;
}

.sign_up input[type=url]{
    margin-top: 10px;
    margin-left: 120px;
    padding: 8px;
    padding-right: 150px;
    border-color: rgb(252, 222, 28);
    background-color: rgb(212, 212, 212);
    border-style: solid;
    border-radius: 5px;
}

.sign_up input[type=submit]{
    margin-top: 10px;
    padding: 8px 16px;
    border-color: rgb(252, 222, 28);
    border-style: none;
    border-radius: 3px;
    background-color: rgb(77,79,71);
    color: white;
}


/* Foot */
.foot {
    background-color: rgb(66,74,74);
    padding-top: 75px;
}

.foot ul {
    font-family: 'Asap Condensed', sans-serif;
    list-style-type: square;
    color: rgb(25, 203, 212);
}

.foot li {
    color: rgb(25, 203, 212);
    margin-bottom: 10px;
    font-size: 12px;
}

.foot a {
    text-decoration: none;
    color: white;
    font-weight: thin; 
}

.foot a:hover  {
    text-decoration: none;
    color: rgb(25, 203, 212);
    font-weight: thin; 

}

.foot h3 {
    text-transform: uppercase;
    font-size: 18px;
    margin-left: 16px;
    margin-bottom: 20px;

}

.foot img {
    margin-left: 32px;
    margin-right: -20px;
    
}

.names {
    margin-bottom: 20px;
}
.names a{
    margin-left: 42px;
}
.like {
    align-content: center; 
}


/* Icons */

.icons ul{
    list-style: none;
    margin-left: 0px;
}

.icons li{
    display: inline;
}

.icons {
    bord
}
}